@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
html,
body{
height: 100%;
width: 100%;
}
body{
    overflow-x: hidden;
}
.section1{
    height: 89%;
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 70px;
}
.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.part2 a{
    text-decoration: none;
}
nav h1{
    font-size: 40px;
}
nav h1 i{
    font-size: 30px;
    rotate: 45deg;
    display: inline-block;
}
nav a{
    font-size: 18px;
    font-weight: 500;color: black;
}
nav button{
    padding: 10px 20px;
    font-size: 15px;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid black;
    font-weight: 600;
}
.center{
    /* background-color: brown; */
    height: 80%;
    width: 100%;
    display: flex;
    padding: 30px 70px;
    /* padding-left: 70px;
    padding-right: 70px; */
}
.center-part1{
    height: 100%;
    width: 45%;
}
.center-part2{
    height: 100%;
    width: 55%;
    position: relative;
}
.center-part1 h1{
    font-size: 50px;
    line-height: 65px;
}
.center-part1 p{
    font-size: 17px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.center-part1 button{
    background-color:#111;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
}
.center-part2 img{
    height: 100%;
    position: absolute;
    right: 0;
}
.section1-bottom {
    display:flex ;
    align-items: center;
    justify-content: space-between;
    padding: 30px 70px;
    filter: grayscale();
    /* background-color: #111; */
}
.section1-bottom img{
    height: 25px;
}
.section1-bottom .notion{
    height: 40px;
}
.section2 .services{
    /* background-color: red; */
    padding: 30px 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 30px;
}
.services h3{
    background-color: #9ae975;
    font-weight: 500;
    padding:3px 10px;
    border-radius: 5px;
    font-size: 25px;
}
.services p{
    width: 50%;
    font-size: 14px;
}
.container{
    height: 100%;
    width: 100%;
    padding: 40px 80px;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}
.elem{
    height: 300px;
    width: 46%;
    border-radius: 50px;
    border: 3px solid black;
    /* background-color: red; */
    flex-shrink: 0;
    box-shadow: 0px 10px 0px black;
    padding: 30px;
    display: flex;
}
.elem h1 span{
    font-size: 30px;
    /* width: 40%; */
    background-color: #9ae975;
    width: fit-content;
}
.elem-part1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.elem-part1 h4{
    font-size: 18px;
    font-weight: 300;
}    
.elem-part1 h4 i{
    font-size: 20px;
    border-radius: 50%;
    background-color: #111;
    padding: 8px;
    margin-right: 8px;
    font-weight: 900;
    color: white;
}
.elem-part2{
    height: 100%;
    width: 50%;
}
.elem-part2 img{
    margin-top: 30px;
    height: 80%;
}
.black{
    background-color: #111;
}
.black h1 span{
    background-color: white;
}
.black h4{
    color: #fff;
    font-weight: 300;
}
.black h4 i{
    color: #111;
    background-color: #fff;
}
footer{
    height: 140px;
    width: 100%;
    /* background-color:#9ae975; */
    padding: 30px 70px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
}
.social img{
    height: 26px;
    margin-bottom: 10px;
}
.para{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.para span{
    font-size: 20px;
    font-weight: bold;
}
